@page
@model JMSearch.Client.Pages.ResultsModel

<form method="post" style="text-align:center;">
    <input placeholder="Rechercher..." type="search" name="keyWord" value="@Model.KeyWord" autofocus />
    <input type="submit" value="Rechercher" />
</form>

<div style="padding:15px;">
    <h2>Résultats</h2>

    @foreach (var r in Model.ResultsUI)
    {
        <h4>@r.First().DocumentName</h4>
        <div style="padding:0 15px 0 15px;">
            @foreach (var p in r)
            {
                <p>@p.Content</p>
            }
        </div>
    }

    <div>
        Page
        @for (int i = 1; i <= Model.MaxPage; i++)
        {
            if (i == Model.CurrentPageNumber)
            {
                <a style="font-weight:bold; color:red;">@i</a>
            }
            else
            {
                <a asp-action="NextPage">@i</a>
            }
        }
    </div>

</div>


